@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Bitter:ital,wght@0,100..900;1,100..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Geist+Mono:wght@100..900&family=Goldman:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: hsla(40, 47%, 96%, 1);
}


.text1{
    font-family: "fraunces", serif;
    font-size: 24px;
    font-weight: 300;
    color: hsla(0, 0%, 18%, 1);
    cursor: pointer;
    text-decoration: none;
}
.text1:hover{
    font-family: "fraunces", serif;
    font-size: 24px;
    font-weight: 300;
    color: hsla(0, 0%, 34%, 1);
    cursor: pointer;
    text-decoration: none;
}
.searcht{
    font-family: "fraunces", serif;
    font-size: 18px;
    font-weight: 300;
    color: hsla(0, 0%, 18%, 1);
}
.bar{
    padding: 8px 12px 8px 12px;
    display: flex;
    flex-direction: row;
    gap: 128px;
    align-items: center;
    background-color: transparent;
    border: solid 1px hsla(103, 18%, 50%, 1);
    width: fit-content;
}
.bar:hover{
    padding: 8px 12px 8px 12px;
    display: flex;
    flex-direction: row;
    gap: 128px;
    align-items: center;
    background-color: transparent;
    border: solid 1px hsla(103, 18%, 40%, 1);
    width: fit-content;
}
.search{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    cursor: pointer;
}
.cart{
    border: none;
}
.navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}
.header{
    padding: 0 80px 0 80px;
    background-color: hsla(102, 18%, 59%, 1);
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.title1{
    font-family: "fraunces", serif;
    font-size: 88px;
    font-weight: 600;
    color: hsla(0, 0%, 18%, 1);
}
.orange{
    width: 50%;
    object-fit: cover;
}
.text2{
    font-family: "fraunces", serif;
    font-size: 52px;
    font-weight: 600;
    color: hsla(0, 0%, 18%, 1);
}
.text3{
    font-family: "fraunces", serif;
    font-size: 18px;
    font-weight: 300;
    color: hsla(0, 0%, 18%, 1);
}
.frame3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
}
.statistics{
    display: flex;
    flex-direction: row;
    gap: 38px;
    align-items: center;
    padding: 18px 0 18px 0;
    width: 100%;
    border-top: solid 0.5px hsla(172, 22%, 61%, 1);
    border-bottom: solid 0.5px hsla(172, 22%, 61%, 1);
}
.button1{
    color: white;
    font-family: "fraunces", serif;
    font-size: 20px;
    font-weight: 400;
    background-color: hsla(40, 98%, 49%, 1);
    height: 50px;
    width: 150px;
    border: none;
    cursor: pointer;
}
.button1:hover{
    color: white;
    font-family: "fraunces", serif;
    font-size: 20px;
    font-weight: 400;
    background-color: hsla(41, 97%, 38%, 1);
    height: 50px;
    width: 150px;
    border: none;
    cursor: pointer;
}
.frame2{
    display: flex;
    flex-direction: column;
    gap: 56px;
}
.frame1{
    display: flex;
    flex-direction: column;
    gap: 20px; 
    width: 50%;
}
.landing{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    padding: 40px;
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-template-areas: "image1 box1 box2 box3";
    gap: 16px;
} 
.image1{
    object-fit: cover;
    width: 100%;
}
.product{
    object-fit: cover;
    width: 100%;
}
.box1{
    display: flex;
    flex-direction: column;
    gap: 18px;
    cursor: pointer;
}
.frame5{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.stars{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 22px;
}
.title3{
    font-family: 'fraunces';
    font-size: 20px;
    font-weight: 600;
    color: hsla(0, 0%, 18%, 1);
}
.text5{
    font-family: "fraunces";
    font-size: 18px;
    font-weight: lighter;
    color: hsla(0, 0%, 18%, 1);
}

.price{
    font-family: "fraunces";
    font-size: 16px;
    font-weight: 300;
    color: hsla(40, 98%, 49%, 1);
}
.box2{
    display: flex;
    flex-direction: column;
    gap: 18px;
    cursor: pointer;
}
.box3{
    display: flex;
    flex-direction: column;
    gap: 18px;
    cursor: pointer;
}
svg{
    padding: 8px;
    border: solid 1px hsla(40, 98%, 49%, 1);
    background-color: transparent;
    cursor: pointer;
    width: 40px;
    height: 40px;
}
svg:hover path{
    padding: 8px;
    border: solid 1px hsla(41, 97%, 38%, 1);
    background-color: transparent;
    cursor: pointer;
    width: 24px;
    stroke: hsla(41, 97%, 38%, 1);
}

.all{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.text6{
    font-family: "fraunces";
    font-size: 16px;
    font-weight: lighter;
    color: hsla(0, 0%, 18%, 1);
}
.frame4{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.heading{
    font-family: 'fraunces';
    font-size: 52px;
    font-weight: 500;
    color: hsla(0, 0%, 18%, 1);
}
.text4{
    font-family: 'fraunces';
    font-size: 24px;
    font-weight: 400;
    color: hsla(0, 0%, 18%, 1);
}
.title2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
.section2{
    display: flex;
    flex-direction: column;
    gap: 26px;
    padding: 0 80px 0 80px;
}
.title5{
    font-family: 'fraunces';
    font-size: 32px;
    font-weight: 400;
    color: hsla(0, 0%, 18%, 1);
}
.text7{
    font-family: 'fraunces';
    font-size: 18px;
    font-weight: lighter;
    color: hsla(0, 0%, 18%, 0.8);
}
.icon{
    width: 54px;
}
.box4{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.benefits{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.title4{
    font-family: 'fraunces';
    font-size: 52px;
    font-weight: 600;
    color: hsla(0, 0%, 18%, 0.8);
    width: 420px;
}
.frame7{
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 800px;
}
.frame6{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.section3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 32px 80px 32px 80px;
    background-color: hsla(102, 18%, 59%, 1);
}
.benefit{
    width: 30%;
    object-fit: cover;
}
.container2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-template-areas: "box5 box6 box7 box8";
    gap: 16px;
} 

.image1{
    object-fit: cover;
    width: 100%;
}
.product{
    object-fit: cover;
    width: 100%;
}
.box6{
    display: flex;
    flex-direction: column;
    gap: 18px;
    cursor: pointer;
    
}
.frame8{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.stars{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 22px;
}
.title3{
    font-family: 'fraunces';
    font-size: 20px;
    font-weight: 600;
    color: hsla(0, 0%, 18%, 1);
}
.text5{
    font-family: "fraunces";
    font-size: 16px;
    font-weight: lighter;
    color: hsla(0, 0%, 18%, 1);
}

.price{
    font-family: "fraunces";
    font-size: 16px;
    font-weight: 300;
    color: hsla(40, 98%, 49%, 1);
}
.box7{
    display: flex;
    flex-direction: column;
    gap: 18px;
    cursor: pointer;
}
.box5{
    display: flex;
    flex-direction: column;
    gap: 18px;
    cursor: pointer;
}
.box8{
    display: flex;
    flex-direction: column;
    gap: 18px;
    cursor: pointer;
}
.arrow{
    padding: 8px;
    border: solid 1px hsla(40, 98%, 49%, 1);
    background-color: transparent;
    cursor: pointer;
}
.all{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.text6{
    font-family: "fraunces";
    font-size: 14px;
    font-weight: lighter;
    color: hsla(0, 0%, 18%, 1);
}
.frame9{
    display: flex;
    flex-direction: column;
    gap: 26px;
}
.heading{
    font-family: 'fraunces';
    font-size: 52px;
    font-weight: 500;
    color: hsla(0, 0%, 18%, 1);
}
.text4{
    font-family: 'fraunces';
    font-size: 24px;
    font-weight: 400;
    color: hsla(0, 0%, 18%, 1);
}
.title2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
.section4{
    display: flex;
    flex-direction: column;
    gap: 26px;
    padding: 0 80px 0 80px;
}
.action{
    object-fit: cover;
    width: 25%;
    height: 25%;
}
.images{
    display: flex;
    flex-direction: row;
}
.section5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 28px;
    padding: 0 80px 0 80px;
}
.section6{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 28px;
    padding: 0 80px 0 80px;
}
.container2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-template-areas: "box9 box10 box11";
    gap: 16px;
} 
.blog{
    object-fit: cover;
    width: 100%;
}
.text8{
    font-family: 'fraunces';
    font-size: 18px;
    font-weight: 100;
    color: hsla(0, 0%, 18%, 1);
}
.title6{
    font-family: 'fraunces';
    font-size: 22px;
    font-weight: 400;
    color: hsla(0, 0%, 18%, 1);
}
.frame10{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.box9{
    display: flex;
    flex-direction: column;
    gap: 14px;
    cursor: pointer;
}
.box9:hover{
    display: flex;
    flex-direction: column;
    gap: 14px;
    cursor: pointer;
    border: solid 1px hsla(103, 18%, 50%, 1);
    padding: 8px;
}
.box10{
    display: flex;
    flex-direction: column;
    gap: 14px;
    cursor: pointer;
}
.box10:hover{
    display: flex;
    flex-direction: column;
    gap: 14px;
    cursor: pointer;
    border: solid 1px hsla(103, 18%, 50%, 1);
    padding: 8px;
}
.box11{
    display: flex;
    flex-direction: column;
    gap: 14px;
    cursor: pointer;
}
.box11:hover{
    display: flex;
    flex-direction: column;
    gap: 14px;
    cursor: pointer;
    border: solid 1px hsla(103, 18%, 50%, 1);
    padding: 8px;
}
.button2{
    font-family: 'fraunces';
    font-size: 20px;
    font-weight: 400;
    color: white;
    background-color: hsla(40, 98%, 49%, 1);
    padding: 12px 16px 12px 16px;
    border: none;
    width: fit-content;
    cursor: pointer;
}
.button2:hover{
    font-family: 'fraunces';
    font-size: 20px;
    font-weight: 400;
    color: white;
    background-color: hsla(41, 97%, 38%, 1);
    padding: 12px 16px 12px 16px;
    border: none;
    width: fit-content;
    cursor: pointer;
}
.container5{
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.page{
    display: flex;
    flex-direction: column;
    gap: 60px;  
}
.title7{
    font-family: 'fraunces';
    font-size: 24px;
    font-weight: 400;
    color: hsla(0, 0%, 10%, 1);
}
.text10{
    font-family: 'fraunces';
    font-size: 16px;
    font-weight: 300;
    color: hsla(0, 0%, 10%, 1);
    cursor: pointer;
    text-decoration: none;
}
.text10:hover{
    font-family: 'fraunces';
    font-size: 16px;
    font-weight: 300;
    color: hsla(0, 0%, 34%, 1);
    cursor: pointer;
    text-decoration: none;
}
.text11{
    font-family: 'fraunces';
    font-size: 16px;
    font-weight: 300;
    color: hsla(0, 0%, 10%, 1);
}
.menu{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container3{
    display: flex;
    flex-direction: row;
    gap: 60px;
}
.text9{
    font-family: 'fraunces';
    font-size: 24px;
    font-weight: 400;
    color: hsla(0, 0%, 10%, 1);
}
.container4{
    display: flex;
    flex-direction: row;
    gap: 18px;
    width: fit-content;
}
.country{
    width: 355px;
    padding: 12px;
    background-color: transparent;
    border: solid 1px hsla(0, 0%, 0%, 1);
    font-family: 'fraunces';
    font-size: 18px;
    font-weight: 400;
}
.frame11{
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 48px 80px 48px 80px;
    background-color: hsla(102, 18%, 59%, 1);
    margin-top: 60px;
    align-items: center;
    
}