@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Bitter:ital,wght@0,100..900;1,100..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Geist+Mono:wght@100..900&family=Goldman:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: hsla(40, 47%, 96%, 1);
}


.text1{
    font-family: "fraunces", serif;
    font-size: 24px;
    font-weight: 300;
    color: hsla(0, 0%, 18%, 1);
    cursor: pointer;
    text-decoration: none;
}
.text1:hover{
    font-family: "fraunces", serif;
    font-size: 24px;
    font-weight: 300;
    color: hsla(0, 0%, 34%, 1);
    cursor: pointer;
    text-decoration: none;
}
.searcht{
    font-family: "fraunces", serif;
    font-size: 18px;
    font-weight: 300;
    color: hsla(0, 0%, 18%, 1);
}
.bar{
    padding: 8px 12px 8px 12px;
    display: flex;
    flex-direction: row;
    gap: 128px;
    align-items: center;
    background-color: transparent;
    border: solid 1px hsla(103, 18%, 50%, 1);
    width: fit-content;
}
.bar:hover{
    padding: 8px 12px 8px 12px;
    display: flex;
    flex-direction: row;
    gap: 128px;
    align-items: center;
    background-color: transparent;
    border: solid 1px hsla(103, 18%, 40%, 1);
    width: fit-content;
}
.search{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    cursor: pointer;
}
.cart{
    border: none;
}
.navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}
.header{
    padding: 0 80px 0 80px;
    background-color: hsla(102, 18%, 59%, 1);
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.landing{
    width: 100%;
    height: 500px;
}
.landingp{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.boxes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "box1 box2 box3"
    "box4 box5 box6"
    'box7 box8 box9';
    gap: 24px;
    padding: 0 80px 0 80px;
}
.box1{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 30px;
    cursor: pointer;
    text-decoration: none;
}
.box2{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 30px;
    cursor: pointer;
}
.box3{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 30px;
    cursor: pointer;
}
.box4{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 30px;
    cursor: pointer;
}
.box5{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 30px;
    cursor: pointer;
}
.box6{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 30px;
    cursor: pointer;

}
.box7{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 30px;

}
.box8{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 30px;
    cursor: pointer;
}
.box9{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 30px;
    cursor: pointer;
}
.image2{
    width: 100%;
    object-fit: cover;
}
.date{
    font-family: 'fraunces';
    font-size: 16px;
    font-weight: 300;
    color: rgb(82, 82, 82);
}
.title{
    font-family: 'farunces';
    font-size: 32px;
    font-weight: 300;
    color: black;
    text-decoration: none;
}
.frame1{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.links{
    text-decoration: none;
}
.text2{
    font-family: 'fraunces';
    font-size: 24px;
    font-weight: 400;
    padding: 4px 16px 4px 16px;
    border: solid 1px black;
    width: fit-content;
    cursor: pointer;
}
.text3{
    font-family: 'fraunces';
    font-size: 24px;
    font-weight: 400;
    padding: 4px 16px 4px 16px;
    cursor: pointer;
}
.Pagination{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
.page{
   display: flex;
   flex-direction: column;
   gap: 60px; 
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 48px 80px 48px 80px;
    background-color: hsla(102, 18%, 59%, 1);
    margin-top: 60px;
    align-items: center;
}
.title7{
    font-family: 'fraunces';
    font-size: 24px;
    font-weight: 400;
    color: hsla(0, 0%, 10%, 1);
}
.text10{
    font-family: 'fraunces';
    font-size: 16px;
    font-weight: 300;
    color: hsla(0, 0%, 10%, 1);
    cursor: pointer;
    text-decoration: none;
}
.text10:hover{
    font-family: 'fraunces';
    font-size: 16px;
    font-weight: 300;
    color: hsla(0, 0%, 34%, 1);
    cursor: pointer;
    text-decoration: none;
}
.text11{
    font-family: 'fraunces';
    font-size: 16px;
    font-weight: 300;
    color: hsla(0, 0%, 10%, 1);
}
.menu{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container3{
    display: flex;
    flex-direction: row;
    gap: 60px;
}
.text9{
    font-family: 'fraunces';
    font-size: 24px;
    font-weight: 400;
    color: hsla(0, 0%, 10%, 1);
}
.container4{
    display: flex;
    flex-direction: row;
    gap: 18px;
    width: fit-content;
}
.country{
    width: 355px;
    padding: 12px;
    background-color: transparent;
    border: solid 1px hsla(0, 0%, 0%, 1);
    font-family: 'fraunces';
    font-size: 18px;
    font-weight: 400;
}
.frame11{
    display: flex;
    flex-direction: column;
    gap: 22px;
}